.genericRow {
  display: flex;
  flex-direction: row;
}

.genericCol {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .content {
    flex-direction: row;
  }
}