.StreamBorder {
    width: 893px;
    height: 502px;

    /* Gray / 300 */
    background: #CBD5E0;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 16px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}