.Header {
    height: 80px;
    width: 100%;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(23, 25, 35, 0.08);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Tract {
    width: 67.33px;
    height: 40px;
    margin-left: 55px;
    margin-top: 20px;
    margin-right: 4px;
}

.Live {
    width: 34.88px;
    height: 18px;
    margin-top: 28px;
}

.Exit {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 32px;
}