.TextContent {
    margin-left: 40px;
    width: 893px;
}

.TopArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Avatar {
    width: 64px;
    height: 64px;
    border-radius:32px;
    margin-right: 20px;
}

.Title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height, or 150% */
    
    /* Gray / 900 */
    color: #171923;
    
    margin-bottom: 3px;
    margin-top: 5px;
}

.Description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    
    /* identical to box height, or 150% */
    
    /* Gray / 600 */
    color: #4A5568;
    margin-top: 0px;
}

.Button1 {
    width: 82px;
    height: 40px;
    border: 1px solid #CBD5E0;
    box-sizing: border-box;
    border-radius: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    
    /* identical to box height, or 150% */
    
    /* Gray / 900 */
    color: #171923;

}

.Button2 {
    width: 142px;
    height: 40px;

    /* Semantic / Brand */
    background: #141CDE;
    font-family: 'Roboto';
    border-radius: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    
    /* identical to box height, or 150% */
    
    /* Black & White / White */
    color: #FFFFFF;
    margin-left: 10px;
}

.Divider {
    width: 810px;
    height: 1px;
    margin-left: 83px;
    /* Gray / 200 */
    background: #E2E8F0;
}

.SampleText {
    margin-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* or 150% */
    display: flex;
    align-items: center;

    /* Gray / 900 */
    color: #171923;
}