.chat {
    font-size: small;
    width: 426px;
    height: 380px;
    overflow: hidden scroll ;
}

.icon {
    width: 40px;
    height: 40px;
    margin-top: 28px;
}

.ChatTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height, or 150% */
    text-align: center;

    /* Gray / 900 */
    color: #171923;
    margin-top: 33px;
    margin-left: 35%;
}

.other {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: gray;
}

.self {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    
    /* Gray / 600 */
    color: #4A5568;
}

.chatInput {
    font: 'Roboto';
    border: 1px solid #CBD5E0;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    /* identical to box height, or 150% */

}

.chatInput:focus {
    border: 1px solid #CBD5E0;
}

.msg {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 4px;
}

.ActiveButton {
    font: 'Roboto';
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #141CDE;
    color: white;
}

.OtherButton {
    font: 'Roboto';
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    color: #141CDE;
    background-color: white;
}

